* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
}

h2 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f4ce14;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

li {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button {
  height: 65px;
  width: 200px;
  border: none;
  border-radius: 20px;
  background-color: #f4ce14;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

/* Header */

Header {
  margin: 0 12%;
  display: flex;
  padding: 35px 0;
}

Header button {
  background-color: #fff;
  border: none;
  margin-left: auto;
  width: 35px;
  height: 40px;
}

nav {
  border-bottom: 9px double #495e57;
}

Nav ul {
  margin: 0 12%;
  padding: 0 0 35px 0;
  display: block;
  list-style: none;
  gap: 10px;
}

/* Main */

Main {
  background-color: #495e57;
}

div.hero {
  margin: 0 12%;
  padding: 80px 0;
  height: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero h1 {
  color: #f4ce14;
}

.hero h2 {
  margin-top: -25px;
  color: #fff;
}

.hero p {
  margin-top: 20px;
  margin-bottom: 80px;
  color: #fff;
  font-weight: 700;
}

div.hero img {
  height: 460px;
  width: 415px;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 2;
}

.specials {
  background-color: #fff;
  padding-top: 180px;
  margin-bottom: 120px;
}

.specials .title-area {
  margin: 0 12% 55px 12%;
  display: flex;
  justify-content: space-between;
}

.specials div.swiper-container {
  margin: 0 12%;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.dish-card {
  height: 385px;
  width: 310px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #495e57;
}

.dish-card img {
  height: 190px;
  width: 310px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.dish-card .title-area {
  margin: 20px 5%;
}

.dish-card .price {
  color: #ee9972;
  font-weight: 500;
}

.dish-card .description {
  margin: 0 5%;
  color: #fff;
}

/* Footer */

Footer {
  margin: 0 12%;
  display: grid;
  grid-template-areas: "logo links";
  grid-template-columns: 1fr 4fr;
  gap: 5%;
}

#links {
  display: grid;
  grid-template-areas:
    "nav contact media"
    "nav-info contact-info media-info";
  grid-template-rows: 0fr 1fr;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 10px;
}

#links ul {
  list-style: none;
  padding: 0;
}

#links p.nav {
  grid-area: nav;
  align-self: self-end;
}

#links ul.nav {
  grid-area: nav-info;
  margin-top: -10px;
}

#links p.contact {
  grid-area: contact;
  align-self: self-end;
}

#links ul.contact {
  grid-area: contact-info;
  margin-top: -10px;
}

#links p.media {
  grid-area: media;
  align-self: self-end;
}

#links ul.media {
  grid-area: media-info;
  margin-top: -10px;
}

@media only screen and (max-width: 935px) {
  .hero img {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .hero img {
    display: none;
  }

  Footer img {
    display: none;
  }

  Footer p,
  Footer li {
    font-size: 12px;
  }

  Footer #links {
    margin-left: auto;
  }
}

@media only screen and (max-width: 700px) {
  .dish-card {
    width: 100%;
  }

  .dish-card img {
    height: 190px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
